body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

@font-face {
    font-family: "light";
    src: url(../fonts/TitilliumWeb-ExtraLightItalic.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "regular";
    src: url(../fonts/TitilliumWeb-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "title";
    src: url(../fonts/TitilliumWeb-SemiBold.ttf);
    font-style: normal;
    font-weight: bold;
}

/*
==========================================
                HEADER
==========================================
*/

.header {
    background-image: url(../img/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.textBlock {
    width: 40%;
    position: relative;
    display: inline-grid;
    text-align: justify;
    color: #fff;
}

.textPlace {
    display: inline-grid;
    text-align: -webkit-right;
    position: relative;
    width: 100%;
    right: 7%;
    height: auto;
    padding-top: 15%;
}

.topMenu {
    padding-top: 1%;
    width: 100%;
    height: 10vh;
    position: relative;
    display: flex;
}

.buttonPlace {
    display: flex;
    justify-content: center;
}

button {
    width: 30vh;
    border-radius: 5%;
    height: 7vh;
    font-family: cursive;
}

i {
    position: relative;
    color: #fff;
    font-size: 8vh;
    display: flex;
    justify-content: flex-start;
}

ul {
    position: relative;
    display: flex;
    color: #fff;
    justify-content: flex-end;
    width: 100%;
}

a {
    color: #fff;
    text-decoration: none;
    font-family: title;
}

i:hover {
    color: #2a718e;
}

a:hover {
    color: #2a718e;
}

button:hover {
    color: #2a718e;
}

li {
    display: inline;
    position: relative;
    margin-right: 3%;
}

h1 {
    font-family: title;
    font-style: italic;
}

p {
    font-family: light;
    height: auto;
}

/*
==========================================
            Main
==========================================
*/
.blockText {
    position: relative;
    text-align: center;
    display: inline-grid;
    padding-left: 25%;
    padding-right: 25%;
}

.blockMySkills {
    background-image: url(/img/dairy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: inline-grid;
    justify-content: center;
    align-items: center;
}

.skillBox {
    position: relative;
    display: inline-grid;
    width: 100vh;
}

.skillBox p {
    font-family: cursive;
    cursor: pointer;
    font-size: 1.3rem;
}

.skill {
    border: 2px solid #f1f1f1;
    padding: 1%;
    position: relative;
    width: 100%;
}

.skillLevel {
    height: 5px;
    width: 100%;
    background-color: #2a718e;
}

.MARKETING {
    width: 65%;
}

.WEB {
    width: 90%;
}

.UI {
    width: 75%;
}

.transitionBlock {
    position: relative;
    background-color: #3e3e3e;
    height: 35vh;
    color: #fff;
    font-size: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.infoblock {
    height: 20vh;
    position: relative;
    display: inline-grid;
}

.fotoblockOurWorkProcess {
    background-image: url(/img/workproces.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 2%;
    margin-bottom: 10%;
    Height: 100vh;
    display: flex;
    border: 1px solid #2a718e;
    align-items: center;
}


.textblockOurWorkProcess {
    position: relative;
    display: inline-grid;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;

}

.iconsBlock {
    height: 60vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #4898b9;
}

.iconsBlock h1 {
    font-size: 1.1rem;
    font-family: cursive;
}

.iconsBlock p {
    font-size: 0.8rem;
}

.iconsList {
    width: 120vh;
    display: inline-grid;
    grid-template-columns: repeat(4, 30vh);
    grid-gap: 5%;
    text-align: center;
}

/*
==========================================
            Footer
==========================================
*/

.footer {
    position: relative;
    text-align: center;
    display: inline-grid;
    padding-left: 25%;
    padding-right: 25%;
    justify-items: center;
    margin-bottom: 20%;
}

.blockNeedaProject {
    position: relative;
}

.blockpersonalInfo {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.mat-label {
    display: block;
    font-size: 30px;
    font-family: cursive;
    transform: translateY(14vh);
    color: #e2e2e2;
    transition: all 0.5s;
}

.mat-input {
    position: relative;
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0;
    font-size: 23px;
}

.mat-div {
    padding: 30px 0 0 0;
    position: relative;
}

.mat-div:after,
.mat-div:before {
    content: "";
    position: absolute;
    display: block;
    width: 90%;
    height: 2px;
    background-color: #e2e2e2;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
}

.mat-div::after {
    background-color: #4898b9;
    transform: scaleX(0);
}

.is-active::after {
    transform: scaleX(1);
}

.is-active .mat-label {
    color: #4898b9;
}

.is-completed .mat-label {
    font-size: 22px;
    transform: translateY(0);
}

.footer > button {
    background-color: #fff;
    position: relative;
    color: currentColor;
    border: none;
    display: block;
    border: 2px solid #e2e2e2;
    border-radius: 10px;
    cursor: pointer;
}

.footButton {
    position: relative;
    display: flex;
    align-items: center;
    height: 40vh;
}
